<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Apk_Decompiler.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="Apk_Decompiler.Properties.Language" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<userSettings>
		<Apk_Decompiler.Properties.Settings1>
			<setting name="MessageSearch" serializeAs="String">
				<value>Введите название файла выше и нажмите "Искать" kjk</value>
			</setting>
		</Apk_Decompiler.Properties.Settings1>
		<Apk_Decompiler.Properties.Language>
			<setting name="MessageSearch" serializeAs="String">
				<value>Введите название файла выше и нажмите "Искать" lol</value>
			</setting>
		</Apk_Decompiler.Properties.Language>
		<Apk_Decompiler.Properties.Settings />
	</userSettings>
</configuration>